.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 24px;
    padding-block: 0px;
}

.navbar-container .logo{
    display: flex;
    flex-direction: column;
    translate: 0 -8px;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar-container .logo .navbar-title{
    color: black;
    font-size: 30px;
}

.navbar-container .logo .navbar-subtitle{
    font-size: 11px;
    text-align: end;
    width: 100%;
    position: absolute;
    color: #111;
    top: 58px;
}

.navbar{
    display: flex;
    align-items: center;
    width: 100%;
}

.navbar-container .nav-links{
    display: flex;
    gap: 40px;
}

.navbar-container .nav-links .nav-link{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    text-transform: uppercase;
    transition: color 0.2s ease-in-out;
    font-weight: 500;
}

.navbar-container .nav-links .nav-link:hover{
    color: #9900ff;
}

.navbar-actions{
    display: flex;
    align-items: center;
    gap: 20px;
}

.hamburger {
    display: none;
    translate: 0px 2px;
    cursor: pointer;
    z-index: 20;
  }

.search-bar{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 0px 6px 6px;
    border-bottom: 1px solid #777;
    justify-content: space-between;
}

.search-bar input[type="text"]{
    border: none;
    font-size: 16px;
}

.search-bar input[type="text"]:focus{
    outline: none;
    border-color: #9900ff;
}

.search-bar .search-button{
    color: rgb(0, 0, 0);
    border: none;
    background: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.search-bar .search-button:hover{
    color: #9900ff;
}

.search-bar .search-button:focus{
    outline: none;
    color: rgb(66, 13, 89);
    border: none;
}

.user-actions{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
}

.user-actions a{
    text-decoration: none;
    color: #333;
    transition: 0.2s ease-in-out;
}

.user-actions a:hover{
    color: #9900ff;
}

.user-actions .user-profile{
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: max-content;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    position: relative;
}

.user-actions .user-profile:hover{
    color: #9900ff;
}

.login-button{
    display: flex;
    align-items: center;
    gap: 10px;
}

.login-button .account-component{
    position: absolute;
    top: 100%;
    right: 0;
    width: 220px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1) ;
    border: 1px solid rgb(240, 240, 240);
    z-index: 5;
    padding-block: 1rem;
}

.account-option{
    padding: .4rem 1rem .4rem 1rem;
    text-decoration: none;
    font-size: 16px;
    color: #333;
    transition: 0.2s ease-in-out;
}

.account-option:hover{
    color: #9900ff;
    background-color: rgba(0, 0, 0, 0.079);
}

.user-actions .user-profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.user-actions .user-profile span{
    font-size: 18px;
    font-weight: 500;
}

.user-actions .cart-button{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    transition: 0.2s ease-in-out;
}

.user-actions .cart-button .cart-count{
    position: absolute;
    top: 16px;
    right: -8px;
    background-color: #ff4848;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    transition: 0.2s ease-in-out;
}

.cart-button:hover{
    color: #9900ff;
}

@media (max-width: 768px) {

    .search-bar {
      display: none;
    }

    .login-text{
        display: none;
    }

    .hamburger {
      display: block;
    }
  
    .nav-links {
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      background-color: white;
      flex-direction: column;
      align-items: flex-start;
      padding: 20px;
      gap: 20px;
      transform: translateY(-440px);
      transition: transform 0.4s ease, opacity 0.4s ease;
      z-index: 10;
      display: flex;
    }
  
    .nav-links.open {
      transform: translateY(0%);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
  }