.span_container{
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri;
    color: #222;
    padding-block: 4px 1px;
    border-bottom: 1px solid #f5f5f5;
}

.span_content{
    padding-inline: 24px;
    display: flex;
    gap: 6px;
    font-size: 20px;
    color: black;
    width: 100%;
    justify-content: end;
}

.span_content .span_icon{
    color: black;
    translate: .3s ease;
}

.span_content .span_icon:hover{
    color: rgb(52, 52, 52);
}

@media (max-width: 768px) {
    .span_container{
        font-size: 16px;
    }
}